.page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.main-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}

.main-logo:hover,
.main-logo:focus {
    color: var(--ocean);
}

.part-logo {
    color: var(--navy-blue);
}

.navigation-header {
    display: flex;
    align-items: center;
}

.nav-list-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.studio-nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.studio-nav-link:hover,
.studio-nav-link:focus {
    color: var(--ocean);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-information {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contact-information:hover,
.contact-information:focus {
    color: var(--ocean);
}