/*font-family: "Roboto",
sans-serif; */
/* font-family: "Raleway",
sans-serif; */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue: #2E2F42;
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


p, h1, h2, h3 {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
   display: block;
}

a {
    text-decoration: none;
    color: #2e2f42
}

a:focus,
a:hover {
    color: #4d5ae5;
}

button {
    font-family: inherit;
    border: 0;
    background: none;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background: #fff;
}

.container {
    padding-left: 15px;
    padding-right: 15px;  
    width: 100%; 
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region header */
.page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.main-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}

.main-logo:hover,
.main-logo:focus {
    color: var(--ocean);
}

.part-logo {
    color: var(--navy-blue);
}

.navigation-header {
    display: flex;
    align-items: center;
}

.nav-list-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.studio-nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.studio-nav-link:hover,
.studio-nav-link:focus {
    color: var(--ocean);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-information {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contact-information:hover,
.contact-information:focus {
    color: var(--ocean);
}

/* #endregion header */

/* #region hero */

.main-section {
    background: var(--navy-blue);
    height: 600px;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin: 0% auto;
    padding-top: 188px;
        margin-bottom: 48px;
}

.order-button {
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-button:hover,
.order-button:focus {
    background: #404bbf
}

.second-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.hero {
    height: 344px;
}

.hero-list {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* #endregion hero */

/* #region team */

.team {
    background: #F4F4FD;
    height: 732px;
}

.team-list {
    background: #ffffff;
    display: flex;
    text-align: center;
    gap: 24px;
    width: 264px;
    height: 380px;   
}

.team-title {
   padding-top: 120px;
   padding-bottom: 72px;
}

.team-member {
   background: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-role {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/* #endregion team */

/* #region portfolio */

.portfolio-container {
    height: 1240px;
}

.portfolio {
    padding-bottom: 72px;
    padding-top: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
   
}

.portfolio-item {
   height: 420px;
   width: 360px;
      
}

.portfolio-title {
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portdolio-info-item {
    border-bottom: 1px solid var(--cornflower);
        border-left: 1px solid var(--cornflower);
        border-right: 1px solid var(--cornflower);
        padding: 32px 16px;
        width: 360px;
        height: 120px;
}

.portfolio-sub {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

}

/* #endregion portfoli */

/* #region footer */

.footer {
    background: var(--navy-blue);
    height: 312px;
    
}

.footer-conteiner {
    padding-top: 100px;
}

.part-footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
    padding-top: 16px;
}

/* #endregion footer */
 
