.team {
    background: #F4F4FD;
    height: 732px;
}

.team-list {
    background: #ffffff;
    display: flex;
    text-align: center;
    gap: 24px;
    width: 264px;
    height: 380px;
}

.team-title {
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-member {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-role {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}